# example 2: on merge to master
name: Bump version
on:
  pull_request:
    types:
      - closed
    branches:
      - main
      - release-candidate
env:
  RELEASE_BRANCHES: main,release-candidate
  DEFAULT_BRANCH: release-candidate

jobs:
  build:
    runs-on: ubuntu-22.04
    steps:
    - name: Checkout code
      uses: actions/checkout@v3
      with:
        ref: ${{ github.sha }}
        fetch-depth: '0'

    - name: Check if prerelease
      run: |
        echo ${{ github.ref }}
        echo "PRERELEASE=true" >> $GITHUB_ENV
      if: github.ref == 'release-candidate'

    - name: Bump version and push tag
      uses: anothrNick/github-tag-action@1.55.0 # Don't use @master unless you're happy to test the latest version
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        WITH_V: true